# new
new/

# icfinancialconfernce
icfinancialconference/

#old
old/

# db.local.php
db.php

#formtools for nfw website
formtools/

#MantisBT Database for Issue tracking system
mantis/

#phpxref
phpxref/
phpxrefcreator/

#Random test things
test/
sestest/

#DB searcher
search/

#Dev site
dev/

#gitlist
gitlist/

#MacOSX Fies
*.DS_Store

#Silex Vendor
vendor

#DB connection information
src/ICFS/DoctrineConnection.php

#This will change from user to user..
ngap/.htaccess

#Lets ignore uploads, but keep everything else!
assets/uploads/*.jpeg
assets/uploads/*.jpg
assets/uploads/*.png
assets/uploads/*.gif
assets/uploads/thumbnail/
assets/uploads/sponsors/

#sessions, needed for running on Dougal
sessions/

#TXSL's sandbox
src/sandbox.php
assets/uploads/sponsors
*.sass-cache