# new
new/

# icfinancialconfernce
icfinancialconference/

#email
email/

#old
old/

# db.local.php
db.local.php

#formtools for nfw website
formtools/

#MantisBT Database for Issue tracking system
mantis/

#phpxref
phpxref/
phpxrefcreator/

#Random test things
test/
sestest/

#DB searcher
search/

#Dev site
dev/
