<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteEngine On
    RewriteBase /finance/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ silex.php [L]
</IfModule>
